# 基于lstm的期货交易策略研究

标的：豆粕

数据：每分钟数据

时间：2010年至今

## 数据读取

In [1]:
import pandas as pd
# import talib
import numpy as np
from numpy.linalg import eig
import math
from scipy.stats import norm
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from matplotlib import pyplot as plt
import datetime

In [2]:
import talib

In [3]:
data = pd.read_csv('../date//future_data.csv')
data.drop('Unnamed: 0', axis=1, inplace=True)
data.head()

                  date    open   close    high     low   volume  open_interest
0  2010-01-04 09:01:00  3050.0  3044.0  3052.0  3037.0  24504.0      1037876.0
1  2010-01-04 09:02:00  3044.0  3043.0  3044.0  3040.0  13112.0      1039112.0
2  2010-01-04 09:03:00  3043.0  3047.0  3048.0  3042.0  14848.0      1038992.0
3  2010-01-04 09:04:00  3047.0  3045.0  3049.0  3045.0  13966.0      1039932.0
4  2010-01-04 09:05:00  3045.0  3034.0  3045.0  3033.0  13958.0      1039250.0

## 数据预处理